.ui_service {
  text-align: center;

  padding: 10px;

  h1 {
    @include breakpoints-down(medium) {
      margin-top: 10px;
      font-size: 13px;
      color: #fa6400;
    }
    font-weight: bold;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin-bottom: 50px;
    color: black;
  }
}
