.ourWorks {
  padding: 120px 0px;
  background-color: #e6f2ff;
  @include breakpoints-down(small) {
    padding: 50px 0px;
  }
  > div {
    @include max-width();
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > div:nth-of-type(1) {
      > p {
        text-transform: uppercase;
        font-size: 36px;
        letter-spacing: 0.02em;
        color: #1b2935;
        font-weight: 900;
        margin-bottom: 50px;
        text-align: left;
      }
    }
    > div:nth-of-type(2) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      @include breakpoints-down(small) {
        grid-template-columns: 1fr;
      }
      @include breakpoints-down(medium) {
        gap: 30px;
      }
      gap: 50px;
      a > div {
        border-radius: 6px !important;
        background-color: white;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        position: relative;
        z-index: 2;

        &:hover {
          &::after {
            transform: rotate(10deg);
          }
        }
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          top: 0px;
          left: 0px;
          z-index: -1;
          transform: rotate(0deg);
          transition: all 0.5s ease;
          border-radius: 10%;
          height: 100%;
          background: linear-gradient(45deg, #b95ce4, #4f29c2);
        }
        img {
          width: 100%;
          height: 260px;
          margin: 0%;
        }
        > div {
          padding: 15px 10px;
          background-color: white;
          margin-top: -10px;
          p {
            font-weight: 500;
            font-size: 20px;
          }
        }
      }
    }
    button {
      @include button-basic();
      margin-top: 60px;
    }
  }
}
