// // @import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

// .design_tool {
//   margin-top: 70px;

//   h1 {
//     // @include breakpoints-down(medium) {
//     //   font-size: 30px;
//     // }>
//     font-size: 40px;
//     text-align: center;
//     // margin-right: 500px;
//     font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
//       "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
//   }
//   > div {
//     display: flex;
//     flex-direction: row;
//     // @include breakpoints-down(medium) {
//     //   // width: 50px;
//     //   // height: 50px;
//     //   margin-right: 35px;
//     // }

//     img {
//       margin: 100px;
//       // @include breakpoints-down(medium) {
//       //   width: 50px;
//       //   height: 50px;
//       //   margin-right: 35px;
//       // }
//       width: 100px;
//       height: 100px;
//     }
//   }
// }
.approach {
  &_item {
    @include breakpoints-down(medium) {
      display: flex;
      flex-direction: column;
      margin: 0 20px 30px 0px;
      justify-content: center;
      // grid-template-columns: 1fr;
    }
  }

  .card {
    // @include breakpoints-down(medium) {
    //   display: flex;
    //   flex-direction: column;
    //   margin: 0 10px 10px 40px;
    //   justify-content: center;
    //   // grid-template-columns: 1fr;
    // }
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    margin: 15px;
    border: none;
  }

  > div {
    // margin-left: 50px;
    display: flex;
    // flex-grow: 4;
    img {
      width: 100px;
      height: 100px;

      // padding: 20px;
      justify-content: right;
    }
    // p {
    //   font-size: 30px;
    //   font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    //   // color: #de5630;
    // }
  }
  .h1 {
    @include breakpoints-down(medium) {
      // margin-top: 10px;
      font-size: 25px;
    }
  }
  h1 {
    margin-top: 50px;
    font-size: 40px;
    text-align: center;
    // margin-right: 710px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
}
.cardMedia {
  // width: 140px;
  margin-left: 90px;
}
.typo {
  text-align: center;
}
