.ui {
  &_design {
    box-shadow: 0 12px 21px #7889b6;
    background: linear-gradient(45deg, #286dec, #244dd2);

    min-height: 100vh;

    @include breakpoints-down(medium) {
      grid-template-columns: 1fr;
    }

    padding-top: 150px;
    display: flex;

    h1 {
      @include breakpoints-down(medium) {
        font-size: 30px;
      }
      font-size: 50px;
      color: white;
    }

    h4 {
      @include breakpoints-down(medium) {
        font-size: 15px;
      }
      color: #d8d4e2;
      text-align: justify;
    }

    > div {
      padding: 30px;

      button {
        @include button-basic();
      }
    }
  }
}
