.footer {
    position: relative;
    display: grid;
    gap: 2rem;
    background: #111;
    padding: 50px 100px;
    grid-template-columns: 1fr 1fr 1fr;
    @include breakpoints-down(medium) {
        grid-template-columns: 1fr 1fr;
        padding: 50px;
    }
    @include breakpoints-down(small) {
        grid-template-columns: 1fr;
        padding: 50px 20px;
    }
    &_item {
        width: 100%;
        h2 {
            position: relative;
            color: #fff;
            font-weight: 500;
            margin-bottom: 15px;
            font-family: "Times New Roman", Times, serif;
        }
        h2:before {
            content: " ";
            bottom: -5px;

            position: absolute;
            left: 0;
            width: 50px;
            height: 2px;
            background: $button-color;
        }

        p {
            max-width: 400px;
            @include breakpoints-down(small) {
                max-width: 100%;
            }
            color: #999;
            text-align: justify;
            font-size: 16px;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        }
    }

    &_list {
        display: flex;
        margin-top: 50px;
        li {
            a {
                color: #fff;
                margin-right: 20px;

                :hover {
                    background: $button-color;
                }
            }
        }
    }
    &_input {
        width: 359px;
        height: 37px;
        padding: 10px;
        background: white;
        border: 1px solid #ffffff;
        outline: none;
        color: black;
        border-radius: 2px;

        @include breakpoints-down(medium) {
            width: 100%;
        }
    }

    &_info {
        li {
            cursor: pointer;
            text-align: justify;

            > p {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                svg {
                    margin-right: 10px;
                }
            }
            :hover {
                color: white;
            }
        }
    }

    &_link {
        display: flex;

        @include breakpoints-down(medium) {
            display: grid;
        }

        &_items {
            cursor: pointer;
            > p {
                margin-bottom: 10px;
            }
            :hover {
                color: white;
                text-decoration: underline;
            }
        }
    }
}
