.contact {
  padding: 30px 0px;
  @include breakpoints-down(medium) {
    padding: 10px 30px;
  }
  background-color: #e6f2ff;
  &_head {
    h2 {
      text-transform: uppercase;
      font-size: 36px;
      letter-spacing: 0.02em;
      color: #1b2935;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 1.2em;
      text-align: center;
      margin-top: 100px;
    }
    p {
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.8em;
      text-align: center;
      margin-bottom: 30px;
    }
  }
  &_form {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
  }
  &_body {
    // max-width: 850px;
    // display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    // box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
  }
}

.field {
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: white;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &:focus {
    border: 2px solid rgba(30, 85, 250, 0.47);
    background-color: #fff;
  }

  &_area {
    min-height: 150px;
  }

  &_btn {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: $button-color;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }
}
