.services {
    @include max-width;
    padding: 100px 0px;
    position: relative;
    h2 {
        //for mobile
        // font-size: calc(1.31vw + 30.08841px);
        text-transform: uppercase;
        font-size: 36px;
        letter-spacing: 0.02em;
        color: #1b2935;
        font-family: BebasNeue, Helvetica, Arial, sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.2em;
    }
    &__left {
        &__card {
            max-width: 500px;
            position: relative;
            transition: all 0.2s ease-in-out;
            cursor: pointer;
            box-shadow: 0 12px 21px #7889b6;
            color: black;
            font-weight: 700;
            font-size: 20px;
            text-align: center;
            text-transform: uppercase;
            margin: 50px 0px;
            padding: 20px 0px;
            border-left: 5px solid #3250d3;
            letter-spacing: 0.02em;
            &.active {
                cursor: pointer;
                margin-left: 30px !important;
                background-color: #325add;
                color: white;
                z-index: -1;

                background-image: radial-gradient(
                    circle 212px at center,
                    #0d90f7 0,
                    #0d90f7 24%,
                    #118af4 32%,
                    #2e60e0 91%,
                    #325add 100%
                );
            }
            &::after {
                content: "";
                position: absolute;
                top: 0px;
                left: 0px;
                width: 0%;
                height: 100%;
                background-color: #3250d3;
                z-index: -1;
                background-image: radial-gradient(
                    circle 212px at center,
                    #0d90f7 0,
                    #0d90f7 24%,
                    #118af4 32%,
                    #2e60e0 91%,
                    #325add 100%
                );
                transition: width 0.2s ease-in-out;
            }
            &:hover {
                color: white;
            }
            &:hover::after {
                width: 100%;
            }
            // &.active,
            // &:hover {
            //     color: #fff;
            //     background-color: #3250d3;
            //     background-image: radial-gradient(
            //         circle 212px at center,
            //         #0d90f7 0,
            //         #0d90f7 24%,
            //         #118af4 32%,
            //         #2e60e0 91%,
            //         #325add 100%
            //     );

            //     margin-left: 1.875rem;
            // }
        }
    }

    .box__shape__anim {
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
}

.services__for__big__screen {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
