.nav {
    position: fixed;
    width: 100%;
    z-index: 10;
    @include breakpoints-down(small) {
        position: absolute;
    }
    > div {
        display: flex;
        justify-content: space-between;
        @include max-width;
        position: relative;
        @include breakpoints-down(medium) {
            padding: 10px 0px;
        }
    }
    &__left {
        display: flex;
        align-items: center;
        > a {
            color: $white;
            font-weight: 700;
            font-size: $medium-font;
        }
    }
    &__right {
        display: flex;
        height: 100%;
        @include breakpoints-down(medium) {
            transition: all 0.5s;
            transform: translateX(1000%);
            background-color: #5d5decf6;
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            overflow-y: auto;
            z-index: 900;
        }
        > a,
        span {
            color: $white;
            margin-left: 70px;
            font-size: 22px;
            font-weight: 300;
            letter-spacing: 1px;
            display: flex;
            align-items: center;
            @include breakpoints-down(medium) {
                margin-left: 0px;
                justify-content: space-around;
                margin-top: 10px;
                margin-bottom: 10px;
                font-size: 25px;
            }
        }
        span {
            position: relative;
            cursor: pointer;
            padding: 20px 0px;
            @include breakpoints-down(medium) {
                padding: 0px;
                display: flex;
                flex-direction: column;
            }
            > p {
                display: flex;
                align-items: center;
            }
            ul {
                position: absolute;
                display: none;
                background-color: $white;
                top: 65px;
                left: -100px;
                width: 400px;
                z-index: 100 !important;
                padding-top: 10px;
                box-shadow: 0px 10px 13px -7px rgba(0, 0, 0, 0.766);
                border-top: 3px solid $button-color;
                transform: translateY(30px);
                @include breakpoints-down(medium) {
                    position: static;
                    display: none;
                    top: 0px;
                    background: none;
                    box-shadow: none;
                    border: none;

                    text-align: center;
                    transform: translateY(0px);
                }
                li {
                    padding: 10px 15px;
                    &:hover {
                        transition: all 0.2s;
                        background-color: rgba(211, 211, 211, 0.548);
                        border-left: 5px solid #4a68ec;
                    }
                    > a {
                        color: black;
                        font-size: 18px;
                        text-transform: capitalize;
                        @include breakpoints-down(medium) {
                            color: white;
                        }
                    }
                }
            }
            &:hover {
                ul {
                    display: block;
                    animation: ulMove 0.4s ease-in-out 0s forwards;
                }
            }
        }
        //menu show for mobile
    }
    .hamburger__menu__active {
        @include breakpoints-down(medium) {
            transform: translateX(-0%) !important;
        }
    }
    //design for mobile for hamburger
    .menu-wrapper {
        background-color: white;
        display: none;
        place-items: center;
        width: 55px;
        height: 55px;
        margin: auto 0px;
        border-radius: 50px;
        box-shadow: 0 1px 15px #7889b6;
        cursor: pointer;
        z-index: 1000;
        @include breakpoints-down(medium) {
            display: grid;
        }
        @include breakpoints-down(small) {
            position: fixed;
            top: 10px;
            right: 15px;
        }
        .hamburger-menu {
            width: 25px;
            height: 5px;
            position: relative;
            background-color: #5d5dec;
            transition: all 5ms 300ms;
            border-radius: 2px;
            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 10px;
                width: 20px;
                height: 5px;
                background-color: #5d5dec;
                border-radius: 2px;
            }
            &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 10px;
                width: 30px;
                height: 5px;
                background-color: #5d5dec;
                border-radius: 2px;
            }
            &.animate {
                background: rgba(255, 255, 255, 0);
            }
            &.animate:after {
                top: 0;
                width: 30px;
                transform: rotate(45deg);
                -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
                    -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
                transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
                    -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
                transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
                    transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
                transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
                    transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
                    -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
            }

            &.animate:before {
                bottom: 0;
                width: 30px;
                -webkit-transform: rotate(-40deg);
                transform: rotate(-40deg);
                -webkit-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
                    -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
                transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
                    -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
                transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
                    transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
                transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
                    transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
                    -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
            }
        }
    }
}

.white__bg {
    @include breakpoints-up(large) {
        background-color: $white !important;
        box-shadow: 0 12px 21px #7889b6;
        transition: all 1s;
        .nav__right {
            > a,
            span {
                color: black !important;
            }
        }
    }
}

@keyframes ulMove {
    from {
        transform: translateY(30px);
    }
    to {
        transform: translateY(0px);
    }
}
