.nav {
    position: fixed;
    display: flex;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -0%);
    width: 100%;
    justify-content: space-between;

    padding: 15px 10px;
    @include max-width;
    &__left {
        > a {
            color: $white;
            font-weight: 700;
            font-size: $medium-font;
        }
    }
    &__right {
        display: flex;
        > a,
        span {
            color: $white;
            margin-left: 55px;
            font-size: $small-font;
            font-weight: 500;
            letter-spacing: 1px;
            display: flex;
            align-items: center;
        }
        span {
            position: relative;
            cursor: pointer;
            ul {
                position: absolute;
                display: none;
            }
        }
    }
}
