.hero {
  // height: 100%;
  // min-height: 100vh;
  // max-height: 100%;
  position: relative;
  // box-shadow: 0 12px 21px #7889b6;
  #tsparticles {
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    width: 100%;
    // background: linear-gradient(45deg, #286dec, #244dd2);
    // background-image: radial-gradient(
    //   circle 920px at center,
    //   #286dec 0,
    //   #286dec 24%,
    //   #2767e7 32%,
    //   #244dd2 66%,
    //   #244dd2 91%
    // );
    // box-shadow: 0 12px 21px #7889b6;
    z-index: -999;
  }
  &__content {
    padding: 10px;
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include breakpoints-down(medium) {
      grid-template-columns: 1fr;
    }
    @include breakpoints-down(small) {
      min-height: 100vh;
      padding: 130px 0px;
    }
    padding: 200px 0px;
    overflow-x: hidden;
    // @include breakpoints-up(medium) {
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    // }
    @include max-width;
    > div:nth-of-type(1) {
      @include breakpoints-down(small) {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
      > h2 {
        font-weight: 900;
        font-size: 60px;
        @include breakpoints-down(medium) {
          font-size: 30px;
        }
        text-transform: capitalize;
        // color: black;

        background: -webkit-linear-gradient(#0069c0, #de5630);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: 2px;
        z-index: -1;
      }
      > p {
        max-width: 600px;
        color: black;

        font-size: 18px;
        font-weight: 500;
        line-height: 1.7em;
        word-spacing: 1px;
        text-align: justify;
        margin-top: 20px;
      }
      > button {
        @include button-basic();
        margin-top: 30px;
      }
    }
  }
}
