@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap");
html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0px;
  margin: 0px;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}
p {
  line-height: 160%;
}
a {
  text-decoration: none;
  color: inherit;
}
ul li {
  list-style: none;
}

.lottie__file {
  @include breakpoints-down(small) {
    display: none;
  }

  @include breakpoints-down(medium) {
    svg {
      width: 60vw !important;
    }
  }
  @include breakpoints-down(small) {
    svg {
      display: none;
    }
  }
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
