@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0px;
  margin: 0px;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.hero {
  position: relative;
  -webkit-box-shadow: 0 12px 21px #7889b6;
          box-shadow: 0 12px 21px #7889b6;
}

.hero #tsparticles {
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  width: 100%;
  background-image: radial-gradient(circle 920px at center, #286dec 0, #286dec 24%, #2767e7 32%, #244dd2 66%, #244dd2 91%);
  -webkit-box-shadow: 0 12px 21px #7889b6;
          box-shadow: 0 12px 21px #7889b6;
  z-index: -999;
}

.hero__content {
  padding: 10px;
  width: 100%;
  min-height: 100vh;
  padding: 200px 0px;
  overflow-x: hidden;
  max-width: 1400px;
  margin: 0px auto;
}

@media (max-width: 39.9375em) {
  .hero__content {
    min-height: 90vh;
  }
}

@media (min-width: 40em) {
  .hero__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 87.4375em) {
  .hero__content {
    width: 90%;
  }
}

@media (max-width: 39.9375em) {
  .hero__content > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hero__content > div > h2 {
  font-size: 80px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 5px;
  font-family: "Bebas Neue", cursive;
  z-index: -1;
}

@media (max-width: 64em) {
  .hero__content > div > h2 {
    font-size: 50px;
  }
}

.hero__content > div > p {
  max-width: 600px;
  color: white;
  font-family: Open Sans, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.7em;
  word-spacing: 1px;
  text-align: justify;
  margin-top: 20px;
}

.hero__content > div > button {
  background-color: #ff3a47;
  color: white;
  padding: 15px 70px;
  border: none;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 700;
  -webkit-box-shadow: 0px 10px 13px -7px #00000067;
          box-shadow: 0px 10px 13px -7px #00000067;
  border-radius: 50px;
  margin-top: 30px;
}

.hero__content > div > button:hover {
  opacity: 0.8;
}

.nav {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.nav > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1400px;
  margin: 0px auto;
  position: relative;
}

@media (max-width: 87.4375em) {
  .nav > div {
    width: 90%;
  }
}

@media (max-width: 64em) {
  .nav > div {
    padding: 10px 0px;
  }
}

.nav__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__left > a {
  color: white;
  font-weight: 700;
  font-size: 1.525rem;
}

.nav__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

@media (max-width: 64em) {
  .nav__right {
    display: none;
  }
}

.nav__right > a,
.nav__right span {
  color: white;
  margin-left: 70px;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__right span {
  position: relative;
  cursor: pointer;
  padding: 20px 0px;
}

.nav__right span ul {
  position: absolute;
  display: none;
  background-color: white;
  top: 65px;
  left: -100px;
  width: 400px;
  z-index: 100 !important;
  padding-top: 10px;
  -webkit-box-shadow: 0px 10px 13px -7px rgba(0, 0, 0, 0.766);
          box-shadow: 0px 10px 13px -7px rgba(0, 0, 0, 0.766);
  border-top: 3px solid #ff3a47;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.nav__right span ul li {
  padding: 10px 15px;
}

.nav__right span ul li:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: rgba(211, 211, 211, 0.548);
  border-left: 5px solid #4a68ec;
}

.nav__right span ul li > a {
  color: black;
  font-size: 18px;
  text-transform: capitalize;
}

.nav__right span:hover ul {
  display: block;
  -webkit-animation: ulMove 0.4s ease-in-out 0s forwards;
          animation: ulMove 0.4s ease-in-out 0s forwards;
}

.nav .menu-wrapper {
  background-color: white;
  display: none;
  place-items: center;
  width: 55px;
  height: 55px;
  margin: auto 0px;
  border-radius: 50px;
  -webkit-box-shadow: 0 1px 15px #7889b6;
          box-shadow: 0 1px 15px #7889b6;
  cursor: pointer;
}

@media (max-width: 64em) {
  .nav .menu-wrapper {
    display: -ms-grid;
    display: grid;
  }
}

.nav .menu-wrapper .hamburger-menu {
  width: 25px;
  height: 5px;
  position: relative;
  background-color: #5d5dec;
  -webkit-transition: all 5ms 300ms;
  transition: all 5ms 300ms;
  border-radius: 2px;
}

.nav .menu-wrapper .hamburger-menu::after {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 20px;
  height: 5px;
  background-color: #5d5dec;
  border-radius: 2px;
}

.nav .menu-wrapper .hamburger-menu::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 30px;
  height: 5px;
  background-color: #5d5dec;
  border-radius: 2px;
}

.nav .menu-wrapper .hamburger-menu.animate {
  background: rgba(255, 255, 255, 0);
}

.nav .menu-wrapper .hamburger-menu.animate:after {
  top: 0;
  width: 30px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav .menu-wrapper .hamburger-menu.animate:before {
  bottom: 0;
  width: 30px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.white__bg {
  background-color: white !important;
  -webkit-box-shadow: 0 12px 21px #7889b6;
          box-shadow: 0 12px 21px #7889b6;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.white__bg .nav__right > a,
.white__bg .nav__right span {
  color: black !important;
}

@-webkit-keyframes ulMove {
  from {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes ulMove {
  from {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=App.css.map */