@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0px;
  margin: 0px;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.hero {
  position: relative;
  -webkit-box-shadow: 0 12px 21px #7889b6;
          box-shadow: 0 12px 21px #7889b6;
}

.hero #tsparticles {
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  width: 100%;
  background-image: radial-gradient(circle 920px at center, #286dec 0, #286dec 24%, #2767e7 32%, #244dd2 66%, #244dd2 91%);
  -webkit-box-shadow: 0 12px 21px #7889b6;
          box-shadow: 0 12px 21px #7889b6;
  z-index: -999;
}

.hero__content {
  padding: 10px;
  width: 100%;
  min-height: 100vh;
  padding: 200px 0px;
  overflow-x: hidden;
  max-width: 1400px;
  margin: 0px auto;
}

@media (max-width: 39.9375em) {
  .hero__content {
    min-height: 90vh;
  }
}

@media (min-width: 40em) {
  .hero__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 87.4375em) {
  .hero__content {
    width: 90%;
  }
}

@media (max-width: 39.9375em) {
  .hero__content > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hero__content > div > h2 {
  font-weight: 700;
  font-size: 50px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  z-index: -1;
}

@media (max-width: 64em) {
  .hero__content > div > h2 {
    font-size: 30px;
  }
}

.hero__content > div > p {
  max-width: 600px;
  color: white;
  font-family: Open Sans, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.7em;
  word-spacing: 1px;
  text-align: justify;
  margin-top: 20px;
}

.hero__content > div > button {
  background-color: #ec4d29;
  color: white;
  padding: 15px 70px;
  border: none;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 700;
  -webkit-box-shadow: 0px 10px 13px -7px #00000067;
          box-shadow: 0px 10px 13px -7px #00000067;
  border-radius: 50px;
  outline: none;
  margin-top: 30px;
}

.hero__content > div > button:hover {
  opacity: 0.8;
}

.nav {
  position: fixed;
  width: 100%;
  z-index: 10;
}

@media (max-width: 39.9375em) {
  .nav {
    position: absolute;
  }
}

.nav > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1400px;
  margin: 0px auto;
  position: relative;
}

@media (max-width: 87.4375em) {
  .nav > div {
    width: 90%;
  }
}

@media (max-width: 64em) {
  .nav > div {
    padding: 10px 0px;
  }
}

.nav__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__left > a {
  color: white;
  font-weight: 700;
  font-size: 1.525rem;
}

.nav__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

@media (max-width: 64em) {
  .nav__right {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: translateX(1000%);
            transform: translateX(1000%);
    background-color: #5d5decf6;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 100vh;
    overflow-y: auto;
    z-index: 900;
  }
}

.nav__right > a,
.nav__right span {
  color: white;
  margin-left: 70px;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 64em) {
  .nav__right > a,
  .nav__right span {
    margin-left: 0px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
  }
}

.nav__right span {
  position: relative;
  cursor: pointer;
  padding: 20px 0px;
}

@media (max-width: 64em) {
  .nav__right span {
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.nav__right span > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__right span ul {
  position: absolute;
  display: none;
  background-color: white;
  top: 70px;
  left: -100px;
  width: 400px;
  z-index: 100 !important;
  padding-top: 10px;
  -webkit-box-shadow: 0px 10px 13px -7px rgba(0, 0, 0, 0.766);
          box-shadow: 0px 10px 13px -7px rgba(0, 0, 0, 0.766);
  border-top: 3px solid #de5630;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

@media (max-width: 64em) {
  .nav__right span ul {
    position: static;
    display: none;
    top: 0px;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
    text-align: center;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.nav__right span ul li {
  padding: 10px 15px;
}

.nav__right span ul li:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: rgba(211, 211, 211, 0.548);
  border-left: 5px solid #4a68ec;
}

.nav__right span ul li > a {
  color: black;
  font-size: 18px;
  text-transform: capitalize;
}

@media (max-width: 64em) {
  .nav__right span ul li > a {
    color: white;
  }
}

.nav__right span:hover ul {
  display: block;
  -webkit-animation: ulMove 0.4s ease-in-out 0s forwards;
          animation: ulMove 0.4s ease-in-out 0s forwards;
}

@media (max-width: 64em) {
  .nav .hamburger__menu__active {
    -webkit-transform: translateX(0%) !important;
            transform: translateX(0%) !important;
  }
}

.nav .menu-wrapper {
  background-color: white;
  display: none;
  place-items: center;
  width: 55px;
  height: 55px;
  margin: auto 0px;
  border-radius: 50px;
  -webkit-box-shadow: 0 1px 15px #7889b6;
          box-shadow: 0 1px 15px #7889b6;
  cursor: pointer;
  z-index: 1000;
}

@media (max-width: 64em) {
  .nav .menu-wrapper {
    display: -ms-grid;
    display: grid;
  }
}

@media (max-width: 39.9375em) {
  .nav .menu-wrapper {
    position: fixed;
    top: 10px;
    right: 15px;
  }
}

.nav .menu-wrapper .hamburger-menu {
  width: 25px;
  height: 5px;
  position: relative;
  background-color: #5d5dec;
  -webkit-transition: all 5ms 300ms;
  transition: all 5ms 300ms;
  border-radius: 2px;
}

.nav .menu-wrapper .hamburger-menu::after {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 20px;
  height: 5px;
  background-color: #5d5dec;
  border-radius: 2px;
}

.nav .menu-wrapper .hamburger-menu::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 30px;
  height: 5px;
  background-color: #5d5dec;
  border-radius: 2px;
}

.nav .menu-wrapper .hamburger-menu.animate {
  background: rgba(255, 255, 255, 0);
}

.nav .menu-wrapper .hamburger-menu.animate:after {
  top: 0;
  width: 30px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav .menu-wrapper .hamburger-menu.animate:before {
  bottom: 0;
  width: 30px;
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
  -webkit-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

@media (min-width: 64em) {
  .white__bg {
    background-color: white !important;
    -webkit-box-shadow: 0 12px 21px #7889b6;
            box-shadow: 0 12px 21px #7889b6;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .white__bg .nav__right > a:not(:last-child),
  .white__bg .nav__right span {
    color: black !important;
  }
}

@-webkit-keyframes ulMove {
  from {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes ulMove {
  from {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.services {
  max-width: 1400px;
  margin: 0px auto;
  padding: 150px 0px;
  position: relative;
}

@media (max-width: 87.4375em) {
  .services {
    width: 90%;
  }
}

.services h2 {
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: 0.02em;
  color: #1b2935;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2em;
}

.services__left__card {
  max-width: 500px;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  -webkit-box-shadow: 0 12px 21px #7889b6;
          box-shadow: 0 12px 21px #7889b6;
  color: black;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 50px 0px;
  padding: 20px 0px;
  border-left: 5px solid #3250d3;
  letter-spacing: 0.02em;
}

.services__left__card.active {
  cursor: pointer;
  margin-left: 15px !important;
  background-color: #325add;
  color: white;
  z-index: -1;
  background-image: radial-gradient(circle 212px at center, #0d90f7 0, #0d90f7 24%, #118af4 32%, #2e60e0 91%, #325add 100%);
}

.services__left__card::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 100%;
  background-color: #3250d3;
  z-index: -1;
  background-image: radial-gradient(circle 212px at center, #0d90f7 0, #0d90f7 24%, #118af4 32%, #2e60e0 91%, #325add 100%);
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}

.services__left__card:hover {
  color: white;
}

.services__left__card:hover::after {
  width: 100%;
}

.services .box__shape__anim {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.services__right button {
  background-color: #ec4d29;
  color: white;
  padding: 15px 70px;
  border: none;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 700;
  -webkit-box-shadow: 0px 10px 13px -7px #00000067;
          box-shadow: 0px 10px 13px -7px #00000067;
  border-radius: 50px;
  outline: none;
  margin-top: 30px;
}

.services__right button:hover {
  opacity: 0.8;
}

.services__right__lang {
  margin: 30px 0px;
}

.services__right__lang > span {
  color: #1b2935;
  font-size: 18px;
  font-weight: 300;
}

.services__right__lang > span:not(:last-child)::after {
  content: " - ";
}

.services__right__catg {
  padding: 10px 0px;
}

.services__right__catg > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin: 20px 0px;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  font-weight: 500;
}

.services__right__catg > p:hover {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

.services__for__big__screen {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.about {
  max-width: 1400px;
  margin: 0px auto;
  position: relative;
}

@media (max-width: 87.4375em) {
  .about {
    width: 90%;
  }
}

.about_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 39.9375em) {
  .about_container {
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 64em) {
  .about_container {
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: 40em) {
  .about_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.about h2 {
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: 0.02em;
  color: #1b2935;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2em;
  text-align: center;
  margin-bottom: 50px;
}

.about h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6em;
  letter-spacing: .02em;
  margin: 20px 0px;
}

.about p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.8em;
}

.card_face_one {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  -webkit-box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
  padding: 5rem 1.875rem 5rem 2.5rem;
  color: #fff;
  background-color: #0096ff;
  background-image: radial-gradient(circle 280px at center, #0096ff 0, #0096ff 24%, #0492fd 32%, #2372ee 91%, #286dec 100%);
}

@media (max-width: 39.9375em) {
  .card_face_one {
    margin: 16px;
    height: 90%;
  }
}

@media (max-width: 64em) {
  .card_face_one {
    margin: 16px;
    height: 90%;
  }
}

.card_face_two {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  -webkit-box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
  padding: 5rem 1.875rem 5rem 2.5rem;
  color: #fff;
  background-color: #ff784e;
  background-image: radial-gradient(circle 280px at center, #ff784e 0, #ff784e 24%, #ff764e 32%, #ff664e 91%, #ff644e 100%);
}

@media (max-width: 39.9375em) {
  .card_face_two {
    margin: 16px;
    height: 90%;
  }
}

@media (max-width: 64em) {
  .card_face_two {
    margin: 16px;
    height: 90%;
  }
}

.card_face_three {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  -webkit-box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
  padding: 5rem 1.875rem 5rem 2.5rem;
  color: #fff;
  background-color: #8787fb;
  background-image: radial-gradient(circle 280px at center, #8787fb 0, #8787fb 23%, #8484fb 32%, #7272f7 91%, #6f6ff7 100%);
}

@media (max-width: 39.9375em) {
  .card_face_three {
    margin: 16px;
    height: 90%;
  }
}

@media (max-width: 64em) {
  .card_face_three {
    margin: 16px;
    height: 90%;
  }
}

.card_face_four {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  -webkit-box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
  padding: 5rem 1.875rem 5rem 2.5rem;
  color: #fff;
  background-color: #fc4e35;
  background-image: radial-gradient(circle 280px at center, #fc4e35 0, #fc4e35 24%, #fc4b36 32%, #ff313a 91%, #ff2d3b 100%);
}

@media (max-width: 39.9375em) {
  .card_face_four {
    margin: 16px;
    height: 90%;
  }
}

@media (max-width: 64em) {
  .card_face_four {
    margin: 16px;
    height: 90%;
  }
}

.team {
  max-width: 1400px;
  margin: 0px auto;
}

@media (max-width: 87.4375em) {
  .team {
    width: 90%;
  }
}

.team_head h2 {
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: 0.02em;
  color: #1b2935;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2em;
  text-align: center;
  margin-top: 100px;
}

.team_head p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.8em;
  text-align: center;
  margin-bottom: 30px;
}

@media (min-width: 40em) {
  .team_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 40em) {
  .team_box {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 21%;
            flex: 1 0 21%;
    margin: 10px;
  }
}

.team_box img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -o-object-fit: fill;
     object-fit: fill;
}

.team_box p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.8em;
  text-align: center;
}

.team_name {
  font-size: 20px !important;
}

@media (max-width: 64em) {
  .team_skill {
    margin-bottom: 50px;
  }
}

.contact {
  margin: 50px 0px;
}

.contact_head h2 {
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: 0.02em;
  color: #1b2935;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2em;
  text-align: center;
  margin-top: 100px;
}

.contact_head p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.8em;
  text-align: center;
  margin-bottom: 30px;
}

.contact_form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px 100px;
}

.contact_body {
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.field {
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: rgba(230, 230, 230, 0.6);
  font-size: 1.1rem;
  margin-bottom: 22px;
  -webkit-transition: .3s;
  transition: .3s;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.field:focus {
  border: 2px solid rgba(30, 85, 250, 0.47);
  background-color: #fff;
}

.field_area {
  min-height: 150px;
}

.field_btn {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #2ecc71;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.field_btn:hover {
  background-color: #27ae60;
}

.footer {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1rem;
  background-color: #212529;
  overflow-x: hidden;
}

@media (min-width: 40em) {
  .footer {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 64em) {
  .footer {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 64em) {
  .footer {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.footer_item {
  max-width: 1400px;
  margin: 0px auto;
  padding: 3rem;
}

@media (max-width: 87.4375em) {
  .footer_item {
    width: 90%;
  }
}

.footer_item h2 {
  color: #b5b5b5;
  font-size: 40px;
  margin-bottom: 20px !important;
  font-weight: 400;
  line-height: 49px;
}

.footer_item p {
  text-align: justify;
  max-width: 400px;
  color: #f5f5f5;
  font-size: 16px;
}

@media (max-width: 64em) {
  .footer_item {
    width: 57%;
    padding: 1%;
  }
}

.footer_input {
  width: 359px;
  height: 37px;
  padding: 10px;
  background: white;
  border: 1px solid #ffffff;
  outline: none;
  color: black;
  border-radius: 2px;
}

@media (max-width: 64em) {
  .footer_input {
    width: 100%;
  }
}

.footer_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 64em) {
  .footer_link {
    display: -ms-grid;
    display: grid;
  }
}

.footer_link_items {
  padding-left: 12px;
}

@media (max-width: 64em) {
  .footer_link_items {
    padding: 10px 0px;
  }
}

.btn {
  width: 50%;
  padding: 0.7rem 1rem;
  background-color: #2ecc71;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #27ae60;
}

@media (max-width: 64em) {
  .btn {
    width: 100%;
  }
}

.seoHero {
  background-image: radial-gradient(circle 820px at center, #5d5dec 0, #5d5dec 24%, #5b5be7 32%, #4c4cc2 91%, #4a4abc 100%);
  min-height: 100vh;
}

.seoHero > div {
  max-width: 1400px;
  margin: 0px auto;
  min-height: 100vh;
  color: white;
}

@media (max-width: 87.4375em) {
  .seoHero > div {
    width: 90%;
  }
}

.seoHero > div:nth-of-type(1) {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.seoHero > div:nth-of-type(1) > div p:nth-of-type(1) {
  color: #de5630;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 160%;
}

.seoHero > div:nth-of-type(1) > div p:nth-of-type(2) {
  max-width: 700px;
  margin: 20px 0px;
  font-size: 16px;
}

.seoHero > div:nth-of-type(1) > div h1 {
  font-size: 52px;
  letter-spacing: 1px;
  line-height: 120%;
}

.seoHero > div:nth-of-type(1) > div button {
  background-color: #ec4d29;
  color: white;
  padding: 15px 70px;
  border: none;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 700;
  -webkit-box-shadow: 0px 10px 13px -7px #00000067;
          box-shadow: 0px 10px 13px -7px #00000067;
  border-radius: 50px;
  outline: none;
}

.seoHero > div:nth-of-type(1) > div button:hover {
  opacity: 0.8;
}

.webDev {
  background-image: radial-gradient(circle 820px at center, #5d5dec 0, #5d5dec 24%, #5b5be7 32%, #4c4cc2 91%, #4a4abc 100%);
}

.webDev > div {
  max-width: 1400px;
  margin: 0px auto;
  color: white;
}

@media (max-width: 87.4375em) {
  .webDev > div {
    width: 90%;
  }
}

.webDev > div:nth-of-type(1) {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.webDev > div:nth-of-type(1) > div p:nth-of-type(1) {
  max-width: 700px;
  margin: 20px 0px;
  font-size: 16px;
}

.webDev > div:nth-of-type(1) > div h1 {
  font-size: 52px;
  letter-spacing: 1px;
  line-height: 120%;
}

@media (max-width: 64em) {
  .webDev > div:nth-of-type(1) > div h1 {
    margin-top: 90px;
    font-size: 36px;
    line-height: 120%;
    text-align: center;
  }
}

.webDev > div:nth-of-type(1) > div button {
  background-color: #ec4d29;
  color: white;
  padding: 15px 70px;
  border: none;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 700;
  -webkit-box-shadow: 0px 10px 13px -7px #00000067;
          box-shadow: 0px 10px 13px -7px #00000067;
  border-radius: 50px;
  outline: none;
}

.webDev > div:nth-of-type(1) > div button:hover {
  opacity: 0.8;
}

@media (max-width: 64em) {
  .webDev > div:nth-of-type(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.webDev_container {
  max-width: 1400px;
  margin: 0px auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

@media (max-width: 87.4375em) {
  .webDev_container {
    width: 90%;
  }
}

.webDev_container h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
  color: #1b2935;
}

.webDev_container p {
  text-align: center;
  margin: 20px;
}

@media (max-width: 64em) {
  .webDev_container {
    text-align: center;
  }
}

.webDev_container__grid {
  margin: 50px 0px;
}

@media (min-width: 40em) {
  .webDev_container__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.webDev_container__item {
  padding: 0.9375rem;
}

@media (min-width: 40em) {
  .webDev_container__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (min-width: 64em) {
  .webDev_container__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.webDev_container__icon {
  margin-bottom: 1.875rem;
}

@media (min-width: 64em) {
  .webDev_container__icon {
    margin-bottom: 2.75rem;
  }
}

.webDev_container__title {
  max-width: 700px;
  margin: 20px 0px;
  font-size: 16px;
  line-height: 1.15;
  color: #262626;
}

@media (min-width: 64em) {
  .webDev_container__title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.webDev_container__description {
  font-size: 15px;
  line-height: 1.5;
  color: #707070;
}
/*# sourceMappingURL=App.css.map */